.sign-in {
    width: 400px;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 999px) {
        width: 100%;
    }

    .title {
        margin: 10px 0px;
    }
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.error-message {
    color: rgb(133, 56, 56);
    font-size: 17px;
    padding: 10px;
}