.sign-up {
    display: flex;
    flex-direction: column;
    width: 400px;
    @media screen and (max-width: 999px) {
        width: 100%;
    }
    .title {
        margin: 10px 0px;
    }
 
}

.error-message {
    color: rgb(197, 42, 42);
    font-size: 17px;
    padding: 10px;
}