.menu-item {
    min-width: 30%;
    height: 240px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white; 
    margin: 0 7.5px 15px;
    overflow: hidden;

    &:hover {
      cursor: pointer;
    
      & .background-image {
        transform: scale(1.2);
        transition: transform 2s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      }
    
      & .content {
        opacity: 0.8;
      }
    }

    .background-image {
      height: 100%;
      width: 50%;
      background-position: center;
      background-size: cover;
    }

    &.large {
      height: 380px;
    } 
  
    margin-right: 7.5px;
    
    &:first-child {
      margin-right: 7.5px;
    }
  
    &:last-child {
      margin-left: 7.5px;
    }
  
    .content {
      height: 80px;
      padding: 0 25px;
      @media screen and (max-width: 600px) {
        padding: 0 10px;
      }
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 2px solid white;
      background-color: white;
      opacity: 0.8;
      position: absolute;
      color:black;
  
      .title {
        font-weight: bold;
        margin-bottom: 6px;
        font-size: 22px;
        color: black;
      }
  
      .subtitle {
        font-weight: lighter;
        font-size: 16px;
      }
    }
  }