body {
    font-family: 'Open Sans Condensed';
    padding: 20px 60px;
}

@media screen and (max-width: 999px) {
    body {
      padding:  10px 20px;
    };}

a {
    text-decoration: none;
    color: white
}

* {
    box-sizing: border-box;
}

.icons-author {
    width: inherit;
    justify-content: flex-end;
    display: flex;
    margin-top: 50px;
}